h1 a{
    color:#40b349;
    border-bottom: 3px solid black;
    text-decoration: none;
    padding-bottom: 10px;
}
img{
    border: 2px solid black;
    border-radius: 15px;
}
.pcenter {
    display: flex;
    flex-direction: column; /* 자식 요소들을 위에서 아래로 세로 배치 */
    align-items: center;    /* 세로 배치 상태에서 가로 기준 중앙 정렬 */
           
}
.sheader{
    color:lightskyblue;
}
.left{
    text-align:left;
    width: 90%;
    max-width: 800px;
}
#grid{
    display:grid;
    grid-template-columns: 1fr 1fr;   
}
.center{
    text-align:center;
}
@media (max-width: 900px) {
    #grid {
        grid-template-columns: 1fr; /* 작은 화면에서는 한 열로 변경 */
    }
}